html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    box-sizing: border-box;
    font-family: 'Baloo Bhaina 2', sans-serif;
    background-image: linear-gradient(135deg, #b5e9f1, #93b6cf);
}

* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100%;
}

#root{
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timer-app {
    display: block;
    position: relative;
    background-color: #ecebeb;
    width: 320px;
    min-height: 580px;
    max-height: 620px;
    height: calc(100% - 40px);
    margin: 10px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 4px 6px 20px 0px #709cb7, -4px -5px 20px #d9faff;
    padding: 10px;
}

h1{
    padding: 40px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
    color: #2c76a0;
    text-shadow: -2px -2px 4px #ffffff, 2px 2px 3px #c5c5c5;
}

.setting-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 220px);
}

.set-name-box{
    display: flex;
    justify-content: space-between;
}

.set-name-box > div {
    font-size: 20px;
    color: #5d5d5d;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 5px;
}

.config-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start-btn{
    margin: 20px auto;
    display: block;
    border-radius: 50%;
    outline: none;
    border: none;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(135deg, #ccf5f4, #35bcca);
    box-shadow: 4px 4px 20px 0px #9dd7e0
}

.start-btn:hover {
    background-image: linear-gradient(45deg, #ccf5f4, #35bcca);
    cursor: pointer;
}

.start-btn:active {
    background-image: linear-gradient(65deg, #84dbd8, #12a4b4);
    cursor: pointer;
}

.slider-box {
    padding: 0px 11px;
    border-radius: 20px;
    background-color: #eeeeee;
    box-shadow: inset -7px -11px 20px 0px #ffffff, inset 8px 5px 20px 0px #c1c1c1;
}

.MuiSlider-rail {
    color: #a2a2a2;
}
.MuiSlider-track {
    color: #46afb9;
}

.MuiSlider-thumb {
    
    width: 25px !important;
    height: 25px !important;
    bottom: 1px;
    background: linear-gradient(135deg, #ccf5f4, #35bcca);

}

.btn-box {
    display: flex;
    justify-content: space-between;
}

.timer-btn{
    background-color: #9edee6;
    margin: 10px auto;
    display: block;
    border-radius: 50%;
    outline: none;
    border: none;
    width: 100px;
    height: 100px;
    box-shadow: -8px -8px 20px 3px #ffffff, 8px 8px 20px 3px #c3c3c3, inset 17px 16px 20px 0px #a6eaf3, inset -12px -14px 20px 0px #65c0cc;
}

.CircularProgressbarWithChildren__children{
    box-shadow: -8px -8px 20px 3px #ffffff, 8px 8px 20px 3px #c3c3c3, inset 17px 16px 20px 0px #a6eaf3, inset -12px -14px 20px 0px #65c0cc;

}

.timer-btn:hover {
    cursor: pointer;
    box-shadow: -8px -8px 20px 3px #ffffffe1, 8px 8px 20px 3px #c3c3c3d3;
}

.timer-btn:active {
    box-shadow: -8px -8px 20px 3px #ffffff49, 8px 8px 20px 3px #c3c3c342;
    cursor: pointer;
}

.timer-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timer-progress {
    box-shadow: -20px -18px 20px 0px #ffffff, 19px 19px 20px 0px #d8d7d7;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    margin: 10px auto 10px auto;
}

.progress-out-circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 227px;
    height: 227px;
    background-color: #d0dfff00;
    box-shadow: inset 11px 9px 20px 3px #dadada, inset -18px -20px 20px 0px #f7f6f6;
}

.progress-status {
    font-size: 30px;
    line-height: 0;
    color: #949494;
}

.progress-countdown{
    margin: 20px;
    font-size: 50px;
    color: #206992;
    text-shadow: -4px -2px 4px #ffffff, 2px 2px 3px #bbb7b7
}

.all-progress-bar {
    width: 270px;
    margin: 0px auto;
    height: calc(100% - 430px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.MuiSlider-root{
    top: 3px;
    padding: 13px 0 !important;
}
.setsreps-progress{
    display: flex;
    justify-content: space-between;
}

.setsreps-progress > div {
    font-size: 25px;
    border: 1px solid #c3c3c326;
    padding: 10px;
    box-shadow: -7px -7px 20px 3px #ffffff, 5px 3px 9px 0px #969595;
    border-radius: 10px;
    height: 30px;
     display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    color: #5d5d5d;
}



.timecount-box{
    display: flex;
    justify-content: space-between;
}

.timecount-box > div {
    padding: 5px;
    font-size: 25px;
    color: #5d5d5d;
}

.alltime-progressbar {
    width: 100%;
    height: 20px;
    background-color: #f9f9f9;
    box-shadow: inset 6px -4px 11px 0px #ffffff, inset 8px 4px 10px 0px #949494;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.progress-line{
    width: 2%;
    height: 20px;
    background-color: #68ddec;
    box-shadow: inset 3px 3px 8px 0px #9de8f2, inset -6px -5px 11px 0px #66c6d3;
    border-radius: 5px;
}

.setsreps-progress > div > div {
    position: relative;
    top: 3px;
}

.head {
    font-size: 25px;
    border: 1px solid #c3c3c326;
    padding: 10px;
    box-shadow: -7px -7px 20px 3px #ffffff, 5px 3px 9px 0px #969595;
    border-radius: 10px;
    height: 30px;
     display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    color: #5d5d5d;
    width: 60px;
}